<ion-header>
  <ion-buttons class="back-button" slot="start">
    <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons>
  <!-- <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ tvShow()?.title }}</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  @if (tvShow(); as tvShow) {

  <ion-card class="ion-card-container ion-no-padding ion-no-margin">
    <div class="thumbnail-container">
      <div
        class="thumbnail"
        [style.height.px]="360"
        [style.background]="'url('+ imageBaseUrl + '/w400' + tvShow?.poster_path +') no-repeat center center / cover'"
      ></div>
      <div class="poster-container" [style.height.px]="300">
        <img
          [style.height.px]="300"
          [src]="imageBaseUrl + '/w500' + tvShow?.poster_path"
          alt="poster"
        />
      </div>
      <div class="gradient"></div>
    </div>

    <ion-card-header class="ion-card-header-container ion-no-border">
      <ion-card-title>{{tvShow.name}}</ion-card-title>
      <ion-card-subtitle>{{tvShow.tagline}}</ion-card-subtitle>
      <ion-text color="tertiary">
        @for (genre of tvShow.genres; track genre.id; let isLast = $last;) {
        <span> {{genre.name}} {{!isLast ? '•' : ''}} </span>
        }
      </ion-text>
      <ion-label color="medium " class="movie-overview"
        >{{tvShow.overview}}</ion-label
      >

      <ion-card-content class="ion-card-content-container ion-no-padding">
        <ion-item lines="none" class="ion-item-container">
          <ion-icon name="calendar-outline" slot="start"></ion-icon>
          <ion-label>{{ tvShow.release_date | date: 'YYYY-MM-d'}}</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-icon name="cash-outline" slot="start"></ion-icon>
          <ion-label>{{ tvShow.revenue | currency: 'USD'}}</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card-header>
  </ion-card>
  }
</ion-content>
