<ion-header #header class="ion-no-border">
  <ion-toolbar color="transparent" class="header-items-container">
    <ion-row class="logo-container">
      <ion-col class="ion-text-left" size="4"
        ><ion-icon class="large-icon" name="menu-outline"></ion-icon
      ></ion-col>

      <ion-col size="4" class="ion-text-center"
        ><img class="logo" src="../../assets/mockdata/netflix-logo.png" alt=""
      /></ion-col>

      <ion-col size="4" class="ion-text-right"
        ><ion-icon class="large-icon" name="settings"></ion-icon
      ></ion-col>
    </ion-row>

    <ion-row class="menu-category-container">
      <ion-col>TV Shows</ion-col>
      <ion-col>Movies</ion-col>
      <ion-col size="4" tappable (click)="openCategories()"
        >Categories
        <ion-icon name="caret-down-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scrollEvents="true" [appHideHeader]="header">
  <swiper-container
    class="spotlight-container"
    effect="fade"
    alt="poster"
    [slidesPerView]="1"
    direction="horizontal"
    slides-per-view="1"
    parallax="true"
    autoplay
    [autoplay]="{delay: 5000}"
    speed="1000"
    (ionSlideChange)="onSlideChange($event)"
  >
    <swiper-slide
      class="swiper-slide"
      *ngFor="let item of this.spotlight; let i = index;"
    >
      <div
        class="swiper-slides"
        [style.background]="'url('+imageBaseUrl+'/original'+item?.poster_path+') no-repeat top center / cover'"
      >
        <div class="gradient">
          <div class="info">
            <h1 class="title">{{item?.title}}</h1>
            <!-- <ion-text color="tertiary spotlight-genre">
              @for (genre of this.spotlight; track genre.id; let isLast =
              $last;) {
              <span> {{genre.title}} {{!isLast ? '•' : ''}} </span>
              }
            </ion-text> -->

            <ion-row
              class="ion-align-items-center ion-row-container spotlight-buttons-container"
            >
              <ion-col class="ion-text-center" size="4">
                <div class="btn-vertical large-icon">
                  <ion-icon name="add" class="large-icon"></ion-icon>
                  <span>My List</span>
                </div>
              </ion-col>

              <ion-col class="ion-text-center" size="4">
                <div class="btn-play">
                  <ion-icon name="play" color="dark"></ion-icon>
                  <span>Play</span>
                </div>
              </ion-col>

              <ion-col
                class="ion-text-center"
                size="4"
                button
                [routerLink]="['/movie-details', item?.id]"
              >
                <div class="btn-vertical">
                  <ion-icon
                    name="information-circle-outline"
                    class="large-icon"
                  ></ion-icon>
                  <span>Info</span>
                </div>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>

  <div class="category-container">
    <div class="category-title-container">
      <h3 class="category-title">Trending TV Shows</h3>
      <ion-button>See all</ion-button>
    </div>
    <swiper-container
      class="movies-container"
      effect="card"
      alt="poster"
      [slidesPerView]="3.3"
      [spaceBetween]="5"
      direction="horizontal"
      parallax="true"
      speed="1000"
      autoplay
      [autoplay]="{delay: 1200}"
    >
      <swiper-slide
        class="swiper-slide"
        *ngFor="let item of topRatedTvShows; let i = index;"
        button
        [routerLink]="['/show-details', item.id]"
      >
        <div class="swiper-slide-content">
          <img
            [src]="imageBaseUrl + '/w500' + item?.poster_path"
            alt="{{item?.title}}"
            class="slide-image"
            loading="lazy"
          />
          <div class="swiper-lazy-preloader"></div>
          <div class="gradient"></div>
          <div class="info">
            <span class="rating">{{item?.vote_count}}</span>
          </div>
        </div>
        <p class="video-title">{{item?.name}}</p>
      </swiper-slide>
    </swiper-container>
  </div>

  <div class="category-container">
    <div class="category-title-container">
      <h3 class="category-title">Top Rated Movies</h3>
      <ion-button>See all</ion-button>
    </div>
    <swiper-container
      class="movies-container"
      effect="card"
      alt="poster"
      [slidesPerView]="3.3"
      [spaceBetween]="5"
      direction="horizontal"
      parallax="true"
      speed="1000"
      autoplay
      [autoplay]="{delay: 1600}"
    >
      <swiper-slide
        class="swiper-slide"
        *ngFor="let item of topRatedMovies; let i = index;"
        button
        [routerLink]="['/movie-details', item?.id]"
      >
        <div class="swiper-slide-content">
          <img
            [src]="imageBaseUrl + '/w500' + item?.poster_path"
            alt="{{item?.title}}"
            class="slide-image"
            loading="lazy"
          />
          <div class="swiper-lazy-preloader"></div>
          <div class="gradient"></div>
          <div class="info">
            <span class="rating">{{item?.vote_count}}</span>
          </div>
        </div>
        <p class="video-title">{{item?.title}}</p>
      </swiper-slide>
    </swiper-container>
  </div>

  <div class="category-container">
    <div class="category-title-container">
      <h3 class="category-title">Popular Movies</h3>
      <ion-button>See all</ion-button>
    </div>
    <swiper-container
      class="movies-container"
      effect="card"
      alt="poster"
      [slidesPerView]="3.3"
      [spaceBetween]="5"
      autoplay
      [autoplay]="{delay: 1800}"
      direction="horizontal"
      parallax="true"
      speed="1000"
    >
      <swiper-slide
        class="swiper-slide"
        *ngFor="let item of popularMovies; let i = index;"
        [routerLink]="['/movie-details', item?.id]"
      >
        <div class="swiper-slide-content">
          <img
            [src]="imageBaseUrl + '/w500' + item?.poster_path"
            alt="{{item?.title}}"
            class="slide-image"
            loading="lazy"
          />
          <div class="swiper-lazy-preloader"></div>
          <div class="gradient"></div>
          <div class="info">
            <span class="rating">{{item?.vote_count}}</span>
          </div>
        </div>
        <p class="video-title">{{item?.title}}</p>
      </swiper-slide>
    </swiper-container>
  </div>

  <div class="category-container">
    <div class="category-title-container">
      <h3 class="category-title">Now Playing Movies</h3>
      <ion-button>See all</ion-button>
    </div>
    <swiper-container
      class="movies-container"
      effect="card"
      alt="poster"
      [slidesPerView]="3.3"
      [spaceBetween]="5"
      autoplay
      [autoplay]="{delay: 2000}"
      direction="horizontal"
      parallax="true"
      speed="1000"
    >
      <swiper-slide
        class="swiper-slide"
        *ngFor="let item of nowPlayingMovies; let i = index;"
        [routerLink]="['/movie-details', item?.id]"
      >
        <div class="swiper-slide-content">
          <img
            [src]="imageBaseUrl + '/w500' + item?.poster_path"
            alt="{{item?.title}}"
            class="slide-image"
            loading="lazy"
          />
          <div class="swiper-lazy-preloader"></div>
          <div class="gradient"></div>
          <div class="info">
            <span class="rating">{{item?.vote_count}}</span>
          </div>
        </div>
        <p class="video-title">{{item?.title}}</p>
      </swiper-slide>
    </swiper-container>
  </div>

  <!-- <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content>
