<ion-tabs (ionTabsDidChange)="setSelectedTab()" class="ion-tabs ion-no-border">
  <ion-tab-bar slot="bottom" color="transparent" class="tab-bar">
    <ion-tab-button tab="home">
      <ion-icon
        [name]="selected === 'home' ? 'home' : 'home-outline'"
      ></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="coming-soon">
      <ion-icon
        [name]="selected === 'coming-soon' ? 'copy' : 'copy-outline'"
      ></ion-icon>
      <ion-label>Coming Soon</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon
        [name]="selected === 'search' ? 'search' : 'search-outline'"
      ></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="download">
      <ion-icon
        [name]="selected === 'download' ? 'download' : 'download-outline'"
      ></ion-icon>
      <ion-label>Downloads</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
