.ion-color-transparent {
  border-radius: 16px;

  background: #22222281;
  backdrop-filter: blur(10px); /* Adjust the blur amount as needed */
  opacity: 1;
}

.tab-bar {
  margin: 16px;
  padding: 5px 0px;
}
