.ion-color-transparent {
  border-radius: 16px;

  background: #22222281;
  backdrop-filter: blur(10px); /* Adjust the blur amount as needed */
  opacity: 1;
  padding: 10px 15px;
}

.tab-bar {
  margin: 16px 16px 24px 16px;
}
