ion-header {
  ion-toolbar.header-items-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

    ion-row.logo-container {
      padding: 16px 16px 0px 16px;
      .logo {
        width: 20px;
      }

      .large-icon {
        width: 25px;
        height: 100%;
        font-size: 50px;
      }
    }

    .menu-category-container {
      ion-col {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.ion-color-transparent {
  background: #22222281;
  backdrop-filter: blur(0px); /* Adjust the blur amount as needed */
  opacity: 1;
}
