* {
  margin: 0px;
  padding: 0px;
}

.upcoming-movies-container {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .upcoming-movies {
    display: inherit;
    gap: 10px;
  }
}

p {
  font-size: 14px;
}
