ion-header {
  ion-searchbar {
    color: #fff;
  }
}

ion-content {
  height: 100%;
  .search-item-container {
    width: 100%;
    ion-text {
      .movie-title {
        font-weight: 900;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .movie-overview {
        width: 250px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
