<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ movie()?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (movie(); as movie) {
  <ion-card class="ion-no-padding ion-no-margin">
    <div
      class="thumbnail-container"
      [style.height.px]="200"
      [style.background]="'url('+ imageBaseUrl + '/original' + movie?.backdrop_path +') no-repeat center center / cover'"
    ></div>
  </ion-card>
  }
</ion-content>
