<ion-header>
  <ion-toolbar>
    <ion-buttons class="back-button">
      <ion-back-button defaultHref="/" slot="start"></ion-back-button>
      <ion-title slot="end">{{categoryTitle}}</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="suggest-movies-container">
    <div class="suggested-movies">
      @for (item of this.currentObject; track item.poster_path) {
      <div class="suggest-movies-thumbnail-container">
        @if(!item?.first_air_date) {
        <img
          [src]="imageBaseUrl + '/w300' + item.poster_path"
          alt="poster"
          button
          [routerLink]="['/movie-details/', item.id]"
        />
        <span>{{item?.title}}</span>
        } @else {
        <img
          [src]="imageBaseUrl + '/w300' + item.poster_path"
          alt="poster"
          button
          [routerLink]="['/show-details/', item.id]"
        />
        <span>{{item?.name}}</span>
        }
      </div>
      }
    </div>
  </div>
</ion-content>
